body{
  background-image: url(Sliki/bg.jpg);
}
.link-success img{
  width: 8rem;
}
.card{
  width: 16rem;
}
.card-img-top{
  opacity: 0.65;
  justify-content: center;
  height: 25rem;
}
.card-img-overlay{
  color: #fff;
}
.card-img-overlay h2{
  background-color: rgb(175, 209, 197);
  font-weight: 900;
  border-radius: 0.6rem;
}
.card-title{
  text-align: center;
  margin-top: 100%;
  text-decoration: none;
}




.container{
  background-color: rgb(255, 255, 255);
}
.align-items-center{
  align-items: center;
}
.justify-content-between {
  justify-content: space-between!important;
}
.d-flex{
  display: flex!important;
}
.fw-bold{
  text-align: left;
}
.fst-italic{
  font-size: 80%;
}
.p-4{
  background-color: rgb(255, 255, 255);
}
footer{
  display: block;
}
.py-2{
  background-color: rgb(198, 199, 144);
}
